
@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Thin.woff2') format('woff2'), url('TTF/IosevkaCurly-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Light.woff2') format('woff2'), url('TTF/IosevkaCurly-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-LightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-LightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-LightItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Regular.woff2') format('woff2'), url('TTF/IosevkaCurly-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Extended.woff2') format('woff2'), url('TTF/IosevkaCurly-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-Oblique.woff2') format('woff2'), url('TTF/IosevkaCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-Oblique.woff2') format('woff2'), url('TTF/IosevkaCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-Italic.woff2') format('woff2'), url('TTF/IosevkaCurly-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Medium.woff2') format('woff2'), url('TTF/IosevkaCurly-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-SemiBold.woff2') format('woff2'), url('TTF/IosevkaCurly-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Bold.woff2') format('woff2'), url('TTF/IosevkaCurly-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Heavy.woff2') format('woff2'), url('TTF/IosevkaCurly-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavyItalic.ttf') format('truetype');
}
