
@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Thin.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedThin.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Light.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedLight.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Regular.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Extended.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-Italic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Medium.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedMedium.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaCurly-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Bold.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedBold.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-Heavy.WOFF2') format('woff2'), url('TTF/IosevkaCurly-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavy.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCurly-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-HeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCurly-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaCurly-ExtendedHeavyItalic.TTF') format('truetype');
}
